@import '../../styles';

:host{        
    .landing{
        margin: 25px;
        display: flex;
        flex-direction: column;

        .header-title{
            font-size: 26px;
            align-self: center;
            font-weight: 600;
        }

        .content{
            display: flex;
        }
    }
}